[env]
DATABASE_URL = "./rss.db"
SERVER_PORT = 3000
GOOSE_MIGRATION_DIR = "./database/migrations"
GOOSE_DRIVER = "sqlite3"
GOOSE_DBSTRING = "{{env.DATABASE_URL}}"

[tasks.build]
description = "Build the app"
depends = ["sqlc", "templ"]
run = "go build -o ./bin/main"

[tasks.build-linux]
description = "Build the app for linux"
env = { GOOS = "linux", GOARCH = "arm64", CGO_ENABLED = 0 }
depends = ["sqlc", "templ"]
run = "go build -o ./bin/main"

[tasks.run]
description = "Build and run the app"
depends = ["build"]
run = "./bin/main"

[tasks."dev:server"]
description = "Run the Go app with hot reloading"
run = """
air \
  --build.cmd "go build -o ./bin/main" \
  --build.bin "./bin/main" \
  --build.include_ext "go" \
  --build.delay 100 \
  --build.exclude_unchanged "true"
"""

[tasks."dev:templ"]
description = "Regenerate templ files on changes"
run = "go tool templ generate --watch --proxy='http://localhost:{{env.SERVER_PORT}}' --open-browser=false"

[tasks."dev:sqlc"]
description = "Regenerate sqlc files on changes"
run = """
air \
  --build.cmd "go tool sqlc generate" \
  --build.bin true \
  --build.include_dir "queries" \
  --build.include_ext "sql" \
  --build.delay 100 \
  --build.exclude_unchanged "true"
"""

[tasks.dev]
description = "Run the dev environment"
depends = ["dev:*"]

[tasks.migrate]
description = "Migrate the database"
run = "go tool goose up"

[tasks.migrate-create]
description = "Create a new migration file"
usage = """
arg "<name>"
"""
run = "go tool goose create ${usage_name?} sql"

[tasks.migrate-rollback]
description = "Rollback the latest database migration"
run = "go tool goose down"

[tasks.sqlc]
description = "Regenerate sqlc files"
sources = ["database/queries/*.sql", "sqlc.yaml"]
run = "go tool sqlc generate"

[tasks.templ]
description = "Regenerate templ files"
sources = ["components/**/*.templ"]
run = "go tool templ generate"

[tasks.lint]
description = "Lint the project"
run = [
  "go tool golangci-lint run",
  "go tool sqlc vet",
]
