[env]
DATABASE_DSN = './rss.db'
SERVER_PORT = 3000

GOOSE_MIGRATION_DIR = './migrations'
GOOSE_DRIVER = 'sqlite3'
GOOSE_DBSTRING = '{{env.DATABASE_DSN}}'

[tasks.build]
depends = ['sql', 'templ']
run = "go build -o ./bin/main"

[tasks.run]
depends = ["build"]
run = "./bin/main"

[tasks.'dev:server']
run = '''
air \
  --build.cmd "go build -o ./bin/main" \
  --build.bin "./bin/main" \
  --build.include_ext "go,templ" \
  --build.delay 100 \
  --build.exclude_unchanged "true"
'''

[tasks.'dev:templ']
run = 'go tool templ generate --watch --proxy="http://localhost:{{env.SERVER_PORT}}" --open-browser=true'

[tasks.'dev:sqlc']
run = '''
air \
  --build.cmd "go tool sqlc generate" \
  --build.bin true \
  --build.include_dir "queries" \
  --build.include_ext "sql" \
  --build.delay 100
'''

[tasks.dev]
depends = ["dev*"]

[tasks.migrate]
run =	"go tool goose up"

[tasks.migrate-create]
usage = '''
arg "<name>"
'''
run =	"go tool goose create ${usage_name?} sql"

[tasks.migrate-rollback]
run =	"go tool goose down"

[tasks.sql]
run =	"go tool sqlc generate"

[tasks.templ]
run =	"go tool templ generate"
