package components

templ UnreadPage(count int64) {
	@base() {
		<div class="flex flex-col items-center w-full">
			<h1 class="text-3xl mb-5">Unread ({ count })</h1>
			@markAllAsRead()
			<span
				hx-get="/unread/list"
				hx-target="this"
				hx-swap="outerHTML"
				hx-trigger="load"
			></span>
		</div>
	}
}

templ markAllAsRead() {
	<span
		class="mb-5 hover:text-zinc-500 hover:cursor-pointer"
		hx-post="/items/read-all"
		hx-target="#container"
	>
		Mark all as read
	</span>
}
